Standard: Latest

BasedOnStyle: Google
IndentWidth: 4

DerivePointerAlignment: false
PointerAlignment: Left

EmptyLineBeforeAccessModifier: Always

# NamespaceIndentation: All
#IndentPPDirectives: BeforeHash

IncludeBlocks: Preserve
