CompileFlags:
  Add: [-Wall, -Werror]
  Remove: [-include-pch] # Prevents preloading PCH in clangd diagnostics

Diagnostics:
  UnusedIncludes: Strict
  ClangTidy:
    Add:
      - bugprone*
      - concurrency*
      - cppcoreguidelines*
      - cppcoreguidelines-naming-*
      - modernize*
      - performance*
      - readability*
      - hicpp*
    Remove:
      - modernize-use-trailing-return-type
      - readability-identifier-length
      - cppcoreguidelines-avoid-magic-numbers
      - readability-magic-numbers
      - bugprone-easily-swappable-parameters
