[submodule "spdlog"]
	path = ext/spdlog
	url = https://github.com/gabime/spdlog.git
	ignore = dirty
[submodule "GLFW"]
	path = ext/GLFW
	url = https://github.com/glfw/glfw.git
	ignore = dirty
[submodule "glm"]
	path = ext/glm
	url = https://github.com/g-truc/glm
[submodule "ext/tinyobjloader"]
	path = ext/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader
[submodule "ext/json"]
	path = ext/json
	url = https://github.com/nlohmann/json
[submodule "ext/TinyGLTF"]
	path = ext/TinyGLTF
	url = https://github.com/syoyo/tinygltf.git
[submodule "ext/imgui"]
	path = ext/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "ext/stb"]
	path = ext/stb
	url = https://github.com/nothings/stb.git
[submodule "ext/chrono"]
    path = ext/chrono
    url = https://github.com/projectchrono/chrono.git
    branch = release/9.0
[submodule "ext/eigen"]
	path = ext/eigen
	url = https://github.com/PX4/eigen.git
[submodule "ext/GTE"]
	path = ext/GTE
	url = https://github.com/davideberly/GeometricTools
