[submodule "external/spdlog"]
	path = external/spdlog
	url = https://github.com/gabime/spdlog
	ignore = dirty

[submodule "external/GLFW"]
	path = external/GLFW
	url = https://github.com/glfw/glfw.git
	ignore = dirty
